*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    padding: 0px 80px;
}


header{
    height: 60px;
    width: calc(100% - 160px);
    position: fixed;
    top: 60px;
    background-color: lightblue;
}

main{
    height: 700px; /*Temporario*/
    background-color: tomato;
}

footer{
    height: 526px;
    background-color: blueviolet;
}